@import "tailwindcss";

@media print {
    body * {
        visibility: hidden;
    }

    .print-area,
    .print-area * {
        visibility: visible;
    }

    .print-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        background: white;
        box-shadow: none;
    }

    .print-area button,
    .print-area .no-print {
        display: none !important;
    }
}